<div class="container">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fa fa-users fa-fw"></i> Utilisateurs</ng-template>
      <ng-template ngbTabContent>
        <user-list></user-list>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fa fa-bar-chart fa-fw"></i> Tableau de bord</ng-template>
      <ng-template ngbTabContent>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh
          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
          cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><i class="fa fa-cogs fa-fw"></i> Paramètres</ng-template>
      <ng-template ngbTabContent>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
          keffiyeh
          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia
          cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
